DATABASE_URL=postgresql://task:task@localhost:3303/task

DATABASE_DB=task
DATABASE_USER=task
DATABASE_PASS=task
DATABASE_HOST=task-postgres
DATABASE_PORT=5432
DATABASE_SSL=false


# JWT 
JWT_KEY=ASD12JD12M0,9-D1S21
JWT_PAYLOAD_KEY=1829JS12,W0-L12,

LOCAL_HASH_SALT=SAD130DL23DL23DL02
AUTO_SEED_ENABLED=false